button.Clock {
    padding-top: 5px;
    border-radius: 20px;
    
    // Remove focus border
    border: none;
    outline: none;
    box-shadow: none;

    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .digit-stack {
        font-size: 14px;
    }
}
