# matugen
.config/ags/colors.scss

# sway backgrounds and config
all-gnome-backgrounds/
HyperFluent-GRUB-Theme/
.config/sway/backgrounds/
.config/sway/config.json
.config/sway/colors.conf

# alacritty
.config/alacritty/colors.toml

# rofi
.config/rofi/colors.rasi