button.NetworkIndicator {
    // Remove focus border
    border: none;
    outline: none;
    box-shadow: none;

    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}