// Generated color palette from matugen
@use "colors.scss" as *;

box.Workspace {
    border: 1px solid rgba($primary_container, 0.5);
    background-color: rgba($primary_container, 0.15);
    border-radius: 2px;
    padding: 0 3px 0 3px;
}