* {
    background: {{colors.primary_container.default.hex}}4d;
    border: {{colors.primary_container.default.hex}}e8;
    background2: {{colors.primary_container.default.hex}}32;
    foreground: {{colors.on_surface.default.hex}};
    selected: {{colors.on_secondary_container.default.hex}}40;
    active-normal: {{colors.on_tertiary_container.default.hex}}30;
    active-selected: {{colors.source_color.default.hex}}c0;
}